# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# PyCharm specific
.idea/
*.iml

# File-based project format
*.ipr
*.iws

# Log files
*.log

# Local History for Visual Studio Code
.history/